flows.json
[{"id":"dddec765.4e3758","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b222e61.a7e0918","type":"http request","z":"dddec765.4e3758","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/cb6331b4-22ee-4ffd-ab4f-d90ada38fcbc/deployments/187420df-558a-440b-ac8a-e1ad955f7c90/online","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":140,"wires":[["ba577f0e.abd63","fe22add.9b70b5"]]},{"id":"6a959d0e.bacaf4","type":"http request","z":"dddec765.4e3758","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":60,"wires":[["8eac566.f0f7aa8"]]},{"id":"fe22add.9b70b5","type":"function","z":"dddec765.4e3758","name":"retriving prediction","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["9019ef31.e2fd","1a794156.fcbc6f"]]},{"id":"b5f443a1.51995","type":"function","z":"dddec765.4e3758","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\nvar apikey=\"eY-n-sU9ihx2IQ8hDVzY2YBZ7gRzh-_AB1A3QfJkwIYT\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":60,"wires":[["6a959d0e.bacaf4"]]},{"id":"8eac566.f0f7aa8","type":"function","z":"dddec765.4e3758","name":"pre prediction","func":"var token=msg.payload.access_token;\nvar instance_id=\"cb6331b4-22ee-4ffd-ab4f-d90ada38fcbc\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\nmsg.payload = \n{\"fields\":[\"BMI\",\"HIV/AIDS\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Adult Mortality\",\"Alcohol\",\"Country\",\"Diptheria\",\"GDP\",\"Hepatitis B\",\"Income composition of resources\",\"Measles\",\"Polio\",\"Population\",\"Schooling\",\"Status\",\"Total expenditure\",\"Year\",\"infant deaths\",\"percentange expenditure\", \"under-five deaths\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["b222e61.a7e0918"]]},{"id":"9019ef31.e2fd","type":"ui_text","z":"dddec765.4e3758","group":"1375a6c7.b180a9","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":380,"wires":[]},{"id":"ba577f0e.abd63","type":"debug","z":"dddec765.4e3758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":140,"wires":[]},{"id":"1a794156.fcbc6f","type":"debug","z":"dddec765.4e3758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},{"id":"28e96674.42bdfa","type":"ui_form","z":"dddec765.4e3758","name":"","label":"","group":"1375a6c7.b180a9","order":0,"width":0,"height":0,"options":[{"label":"BMI","value":"a","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"b","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"c","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"d","type":"number","required":true,"rows":null},{"label":"Adult mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Country","value":"g","type":"text","required":true,"rows":null},{"label":"Diptheria","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"j","type":"number","required":true,"rows":null},{"label":"Income compositio","value":"k","type":"number","required":true,"rows":null},{"label":"Measles","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Schooling","value":"o","type":"number","required":true,"rows":null},{"label":"Status","value":"p","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"q","type":"number","required":true,"rows":null},{"label":"Year","value":"r","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"s","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"t","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"pridict","cancel":"cancel","topic":"","x":70,"y":60,"wires":[["b5f443a1.51995"]]},{"id":"1375a6c7.b180a9","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"c60a652b.a5aa08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c60a652b.a5aa08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]